.wrapper {
  width: 1448px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--box-color);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.table thead {
  width: 100%;
  display: flex;
  border-bottom: 1px rgb(226, 226, 226) solid;
}
.table thead tr {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr 2fr 2.5fr 1fr 1fr 1fr;
}
.table thead tr th {
  padding: 1.5em 2em;
}

.pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}
.nav_wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 56px;
}

.nav_wrapper button + button {
  margin-left: 6px;
}

.page_btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #fff;
}
.page_btn img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.tit_wrapper p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.tit_wrapper {
  width: 1448px;
  margin: 26px auto;
}
